* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #000000;
    --branco: #FFFFFF;
    --rosa: #bb68cf;
    --azul-claro: #d9d7f0;

}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--azul-claro);
    color: var(--preto);
    font-size: 16px;
    
}

header{
    display: flex;
    width: 100%;
    background-color: var(--rosa);
    padding: 1rem;
    justify-content: center;
}

main{
    margin: 40px auto;
}

p{
    font-size: 2rem;
}

h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    text-align: center;
    margin: 10px auto;
    font-size: 3rem;
}

.B{
    background-color: #FFFFFF;
    border-radius: 55px;
    margin: 25px;
    padding: 25px;
}